---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2023 - Actualmente",
    title: "Analista BI",
    company: "TechLex Matthei",
    description:
      "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Julio 2022 - Febrero 2023 ",
    title: "Analista de Datos Históricos y Gestión de Archivos",
    company: "Archivo Nacional de Chile",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
  {
    date: "Marzo 2021 - Enero 2022 ",
    title: "Gestor de Información y Análisis de Datos",
    company: "Comisión para el Mercado Financiero (CMF)",
    description:
      "COsitas"
  }


]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
